*.pro text eol=lf
*.gradle.kts text eol=lf
*.properties text eol=lf
*.xml text eol=lf
*.kt text eol=lf
*.java text eol=lf

*.jar binary
*.so binary
*.jks binary
*.apk binary
*.png binary
*.webp binary
*.jpg binary
*.gif binary
*.aar binary
*.dex binary
*.zip binary
*.7z binary
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary
